.container_successfull{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    text-align: center;
}
.content{
    color: black;
    height: 300px;
    background-color: rgba(255, 210, 125, 0.578);
    position: relative;
    top: 21%;
    /* padding: 10px; */
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data{
 font-size: 1.2rem;
}

